<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Wrapped 2.0</title>
	<link rel="icon" href="{{ url_for('static', filename='icons/spotify.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/spotipy_stylesheet.css') }}">
</head>
<body>
    <h1>Spotify Top Artists</h1>
    <div class="container">
        <div class="column">
            <h3>Short Term</h3>
            <ol>
                {% for item in list1 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
        <div class="column">
            <h3>Medium Term</h3>
            <ol>
                {% for item in list2 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
        <div class="column">
            <h3>Long Term</h3>
            <ol>
                {% for item in list3 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
	</div>
	<h1>Spotify Top Tracks</h1>
	<div class="container">
		<div class="column">
            <h3>Short Term</h3>
            <ol>
                {% for item in list4 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
        <div class="column">
            <h3>Medium Term</h3>
            <ol>
                {% for item in list5 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
        <div class="column">
            <h3>Long Term</h3>
            <ol>
                {% for item in list6 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <h1>Spotify Top Genres</h1>
    <div class="container">
        <div class="column">
            <h3>Short Term</h3>
            <ol>
                {% for item in list7 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
        <div class="column">
            <h3>Medium Term</h3>
            <ol>
                {% for item in list8 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
        <div class="column">
            <h3>Long Term</h3>
            <ol>
                {% for item in list9 %}
                    <li>{{ item }}</li>
                {% else %}
                    <li>No items in this list.</li>
                {% endfor %}
            </ol>
        </div>
    </div>

</body>
</html>